<html>
<head>
    <title>Add transaction</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>New transaction</h1>
    <form action="{{ url_for('add_transaction') }}" method="post">
        <label for="buyer">Buyer</label>
        <input type="text" name="buyer" id="buyer" required>
        <label for="seller">Seller</label>
        <input type="text" name="seller" id="seller" required>
        <label for="sku">SKU</label>
        <input type="text" name="sku" id="sku" required>
        <label for="amount">Amount</label>
        <input type="number" name="amount" id="amount" required>
        <label for="skuPerformance">Performance</label>
        <input type="number" name="skuPerformance" id="skuPerformance" value="1">
        <label for="skuImpact">Impact addition</label>
        <input type="number" name="skuImpact" id="skuImpact" value="0">
        <input type="submit" value="Add">
    </form>
    <p>{{ message }}</p>
</body>
</html>